@import "variables";
@import "base_dark";
@import "content_dark";
@import "notices_dark";
@import "navigation_dark";
@import "tabs_dark";
@import "taxonomies_dark";
@import "footer_dark";
@import "float_dark";
@import "syntax_dark";

body {
  background-attachment: fixed;
  background-image: url("/images/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
